  <footer id="footer">
    <div id="footer-right">
      <p class="footertext">
        <a href="/stats">Stats</a>
        <span> -</span>
        <a href="https://github.com/thecameronjones/bit/blob/master/README.md" target="_blank"> Docs</a>
        <span> -</span>
        <a href="http://github.com/thecameronjones/bit/" target="_blank"> Github </a>
      </p>
    </div>
    <div id="footer-left">
      <p class="footertext"><i>Copyright &copy; <a href="https://github.com/thecameronjones/" target="_blank">Cameron Jones</a> &amp; <a href="https://djmcoder.com/" target="_blank">David Melisso</a> <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script></i></p>
    </div>
  </footer>
</div>
</body>
</html>
