<footer id="footer">
  <div id="footer-left">
    <p class="footertext"><i><a href="https://github.com/thecameronjones/" target="_blank">Cameron Jones</a> &amp; <a href="https://github.com/DJMcoder/" target="_blank">David Melisso</a> <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script></i></p>
  </div>
  <div id="footer-right">
    <p class="footertext">
      <a href="http://github.com/thecameronjones/bit/"> Github </a>
      -
      <a href="https://github.com/thecameronjones/bit/blob/master/README.md"> Docs </a>
    </p>
  </div>
</footer>
