<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <title>bit - Error!</title>
  </head>
  <body>
    <main class="container">
      <div id="errorContent">
        <h1 id="errorTitle">Error!</h1>
        <h3 id="error">{{error}}</h3>
        <a id="backLink" href="/">Back</a>
      </div>
      <footer>
        <p id="right">
            <a href="https://github.com/thecameronjones/bit/blob/master/README.md" target="_blank">Docs</a> - <a href="http://github.com/thecameronjones/bit/" target="_blank">Github</a>
        </p>
        <p id="left">
          Built by <a href="https://github.com/cameronus/" target="_blank">Cameron Jones</a>
        </p>
      </footer>
    </main>
  </body>
</html>
