<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <title>bit</title>
  </head>
  <body>
    <main class="container">
      <div class="content">
        <header>
          <h1 class="title">bit</h1>
        </header>
        <form>
          <div class="buttons">
            <i class="material-icons" onclick="show(false)">lock_open</i>
        		<i class="material-icons" onclick="show(true)">lock_outline</i>
          </div>
          <div class="bit-creation">
            <input id="hidden" type="hidden" name="hidden" value="{{hidden}}">
            <div class="text">
              <label for="text">Bit content</label>
              <textarea id="text" maxlength="10000"></textarea>
            </div>
            <div class="key">
              <label for="key">Encryption key</label>
              <input id="key" type="text">
            </div>
            <input id="permanent" type="checkbox"><label id="checkbox" for="permanent">Permanent</label>
            <button id="create" type="button" onclick="create()">CREATE</button>
            <button id="back" type="button" onclick="goBack()">BACK</button>
          </div>
        </form>
      </div>
      <footer>
        <p id="right">
            <a href="https://github.com/thecameronjones/bit/blob/master/README.md" target="_blank">Docs</a> - <a href="http://github.com/thecameronjones/bit/" target="_blank">Github</a>
        </p>
        <p id="left">
          Built by <a href="https://github.com/cameronus/" target="_blank">Cameron Jones</a>
        </p>
      </footer>
    </main>
  </body>
</html>
