<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Spectral" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/master.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/mediaqueries.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/sweetalert2.css"> -->
    <!-- <script src="../static/js/jquery.js"></script> -->
    <!-- <script src="../static/js/sweetalert2.js"></script> -->
    <!-- <script src="../static/js/main.js"></script> -->
    <title>bit</title>
  </head>
  <body>
    <main class="container">
      <header>
        <h1 class="title">bit</h1>
      </header>
      <form>
        <textarea id="text" maxlength="10000" autofocus></textarea>
      </form>
      <!-- <form id="form" method="post">
        <h1 class="mainTitle">bit</h1>
        <div class="text">
          <textarea id="text" class="form-control" name="text" autofocus maxlength="10000"></textarea>
        </div>
        <div>
          <input type="hidden" id="hidden" name="hidden" value="<%= hidden %>">
        </div><br>
        <div class="button">
          <button type="button" class="btn btn-success" onclick="createBit()">Create Bit</button><button type="button" class="btn btn-danger" onclick="createEncryptedBit()">Create Encrypted Bit</button>
        </div>
        <br/>
        <p class="regularText subtitles">
          Click <input name="permanent" id="permanent" type="checkbox"> to make bit permanent.<span> | </span>
          <a href="https://github.com/thecameronjones/bit/blob/master/README.md" target="_blank">Is it secure?</a><span> | </span>
          <a href="http://commonmark.org/help/" target="_blank">Supports Markdown</a>
        </p>
      </form> -->
      <footer id="footer">
        <p id="footer-right">
            <a href="https://github.com/thecameronjones/bit/blob/master/README.md" target="_blank">Docs</a> - <a href="http://github.com/thecameronjones/bit/" target="_blank">Github</a>
        </p>
        <p id="footer-left">
          Built by <a href="https://github.com/cameronus/" target="_blank">Cameron Jones</a>
        </p>
      </footer>
    </main>
  </body>
</html>
