html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

#form {
  width: 30%;
  height: 30%;
}

textarea {
  resize: none;
  overflow-y: visible !important;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 1em;
}

button.btn-success {

}
