html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

#form {
  width: 35%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.mainTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 100;
}

#text {
  resize: none;
  width: 100%;
  height: 30vh;
  padding: 1em;
  font-size: 1em;
  border-radius: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

label {
  font-weight: 200;
}

.regularText {
  text-align: center;
  font-weight: 200;
}

.subtitles {
  position: relative;
  bottom: 10px;
}

.btn-success {
  display: block;
  width: 100%;
  margin-top: -20px;
  border-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bitWrapper {
  width: 700px;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

.backBit {
  text-align: center;
  display: block;
  margin-top: -20px;
  margin-bottom: 5px;
}

.bit {
  font-size: 20px !important;
  text-align: justify;
}

.errorWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.backLink {
  font-size: 20px;
}

.error {
  font-weight: 100;
}

#footer {
  position: absolute;
  bottom: 0px;
  display: block;
  margin: 0;
  width: 100%;
  margin-left: -15px;
}

#footer-left {
  float: left;
  margin-left: 15px;
}

#footer-right {
  float: right;
  margin-right: 15px;
}

.footertext {
  text-align: center;
  display: block;
  font-weight: 200;
}

#selectLink {
  width: 320px;
  height: 55px;
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
  text-align: center;
}

#statsWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#statsWrapper p {
  font-size: 20px;
}

#qr {
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 0px;
}

.kill {
  position: relative !important;
}
