@media only screen and (max-width: 768px) {
  #form {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 300px;
  }
  #footer-left
  {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 12px;
    margin: 0;
  }
  #footer-right
  {
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-size: 12px;
    margin: 0;
  }
  .bitWrapper {
    text-align: center;
    width: 80%;
    word-break: normal;
  }

  .errorWrapper {
    text-align: center;
    width: 80%;
  }

  #statsWrapper {
    text-align: center;
    width: 70%;
  }
}

@media only screen and (max-width: 736px) {
  #form {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 414px) {
  #form {
    margin-top: 100px;
  }

  .subtitles {
    font-size: 13px;
  }
}

@media only screen and (max-width: 375px) {
  .subtitles {
    font-size: 11px;
  }
}

@media only screen and (max-width: 320px) {
  .subtitles {
    font-size: 10px;
  }
}

@media only print {
  body * {
    visibility: hidden;
  }

  #qrDiv, #qrDiv * {
    visibility: visible;
  }

  #qrDiv {
    position: absolute;
    left: 0;
    top: 0;
  }
}
