@media only screen and (max-width: 736px) {
  #form {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 50px;
  }
  #footer-left
  {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 12px;
    margin: 0;
  }
  #footer-right
  {
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-size: 12px;
    margin: 0;
  }
}

@media only screen and (max-width: 414px) {
  #form {
    margin-top: 100px;
  }
}
