<%- include ../partials/head.ejs %>
<title>Make Snapshot</title>
<%- include ../partials/header.ejs %>

<h1>Snapshot</h1>
<form id="form" method="post" action="/">
    <input type="hidden" name="hidden" value="<%= hidden %>">
    <div class="text">
        <textarea id="sync" name="text" rows="8" cols="40" class="form-control" autofocus></textarea>
    </div>
    <div class="button">
        <button type="submit" class="btn btn-success">Create Shot</button>
    </div>
</form>


<%- include ../partials/footer.ejs %>
