<%- include ../partials/head.ejs %>
<title>Bit</title>
<%- include ../partials/header.ejs %>

<form id="form" method="post" action="/">
  <h1>Bit</h1>
  <input type="hidden" name="hidden" value="<%= hidden %>">
  <div class="text">
    <textarea id="text" class="form-control" name="text" autofocus></textarea>
  </div><br>
  <div class="button">
    <button type="submit" class="btn btn-success">Create Bit</button>
  </div>
</form>

<%- include ../partials/footer.ejs %>
