<%- include ../partials/head.ejs %>
<title>Bit</title>
<%- include ../partials/header.ejs %>

<form id="form" method="post" action="/">
  <h1 class="mainTitle">bit</h1>
  <input type="hidden" name="hidden" value="<%= hidden %>">
  <div class="text">
    <textarea id="text" class="form-control" name="text" autofocus></textarea>
  </div><br>
  <div class="button">
    <button type="submit" class="btn btn-success">Create Bit</button>
  </div>
  <br/>
  <p class="regularText subtitles">
    Click <input name="permanent" id="permanent" type="checkbox"> to make bit permanent.<span> | </span>
    <a href="https://github.com/thecameronjones/bit/blob/master/README.md" target="_blank">What is this?</a><span> | </span>
    <a href="https://docs.google.com/a/students.harker.org/forms/d/1A9XoCHyzQITFXX2Gnc2hoHeIE7tvTBzzIDFHgfVyuL4/viewform" target="_blank">Give feedback!</a>
  </p>
</form>

<%- include ../partials/footer.ejs %>
