<%- include ../partials/head.ejs %>
<title>Bit Stats</title>
<%- include ../partials/header.ejs %>

<div id="statsWrapper">
  <h1 class="mainTitle">Stats</h1>
  <table class="tables regularText">
    <p class="regularText"><strong><%= allBitsEver %> bits</strong> made all time.</p>
  </table>
  <a href="/" class="backLink">Back</a>
</div>

<%- include ../partials/footer.ejs %>
